/*
Colors used:
Heading Colour (Dark Green): #496d4f;
Text Colour (Black): #000000;
Sections Background (Light Green): #e4ecdf;
*/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Manrope", sans-serif;
    font-size: clamp(1rem, 0.8661rem + 0.5952vw, 1.3125rem); 
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
}
  
h1, h2, h3 {
    line-height: 1.4;
    color: #496d4f;
}

h1 {
    font-size: font-size: clamp(2rem, 1.7857rem + 0.9524vw, 2.5rem);
    font-weight: 700;
}
  
h2 {
    font-size: clamp(1.75rem, 1.5357rem + 0.9524vw, 2.25rem);
    font-weight: 550;
}
  
h3 {
    font-size: clamp(1.5rem, 1.2589rem + 1.0714vw, 2.0625rem);
    font-weight: 400;
}

img {
    width: 100%; 
  }

a {
  color: #c96f6f; /* #ff7f50;*/
}

a:visited { /* visited link */
  color:  #c96f6f; /*#ff7f50;*/
}

a:hover 
a:focus {
  color: #cc6540;
  text-decoration: none; 
}
 
a:active { /* selected link */
  color: #994c30;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color:  #c96f6f; /*#ff7f50;*/
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  transition-property: opacity;
}

.button:visited {
  color: #ffffff;
} 

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color:  #c96f6f; /* #ff7f50;*/
  text-transform: uppercase;
  border: 2px solid  #c96f6f; /*#ff7f50;*/
}

.button.contact:visited {
  color:  #c96f6f; /*#ff7f50;*/
}

.button.contact:hover {
  background-color:  #c96f6f; /*#ff7f50;*/
  color: #ffffff;
}

.logo {
  font-weight: 700;
  color: #ffffff !important;
  text-decoration: none;
}

/* Layout styling */

* {
  box-sizing: border-box;
}

header {
  background-color: #496d4f;
  border-bottom: 3px solid #4a4a4a;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2)  ; 
  position: fixed;
  width: 100%;
  padding-block: 0.5em;
}

header .navtoggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.container {
  padding: 0 15px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: auto;
  gap: 2em;
}

.project-card {
  box-shadow: 0 2px 20px 0 rgba(0,0,0, 0.15);
  padding: 1em;
  border-radius: 1em;
}

.project-card img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5em;
  object-position: 0 58%;
}

.center {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}


nav a {
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 300;
  color:#ffffff;
  text-decoration: none;
  display: block;
  text-align: right;

}

nav a:visited{
  color:#FFFFFF;
}

nav a:hover{
  color:#FFFFFF;
}

nav a:active{
  color: #994c30;
}

.welcome {
  background-color: #e4ecdf;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.welcome span {
  display: block;
  font-size: 70%;
  margin-block-start: 0.5em;
}

main {
  padding-top: 44.59px;
}

.socials a {
  max-width: 3rem;
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.story-card__media-wrapper img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5em;
  object-position: 0 58%;
}

.slider {
  display: flex;
  overflow-x: auto;
  gap: 1em;
}

.slider img{
  width: 15rem;
  border: 1px solid #c9c9c9;
  border-radius: 1.2em;
}

.navtoggle {
  display: flex; /* Flex layout for nav */
  align-items: center; /* Center items vertically */
  justify-content: flex-end; /* Align nav to the right */
  flex-grow: 1; /* Take available space */
}

.navtoggle li:last-child .icon {
  display: block; /* Hamburger menu */
}

.navtoggle li:not(:last-child) {
  display: none; /* Hide menu items on small screens */
}

.navtoggle li .icon {
  position: absolute; /* Ensure proper alignment */
  font-size: 1.5rem; /* Adjust size */
  line-height: 1;
  right: 0;
  top: 2px;
  padding: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
  width: 100%;
}
.navtoggle.responsive li  {
  display: block;
  padding: 0;
  /*border-top: 1px solid rgba(255,127,80,0.5);*/
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
  header .navtoggle {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    width: auto;
  }

  nav ul {
    flex-direction: row;
    gap: 1em;
  }

  main {
    padding-top: 80.91px;
  }

  .project-card {
    display: grid;
    grid-template-columns: minmax(0,1fr)minmax(0,2fr);
    grid-auto-rows: 1fr;
    gap: 2em;
  }

  #about-picture {
    width: 100%;
  }

  .project-card__media-wrapper img {
    height: 100%;
    object-fit: cover;
  }

  .navtoggle li:not(:last-child) {
    display: flex;
  }

  .navtoggle li:last-child {
    display: none;
  }

  /*.navtoggle.responsive nav {
    padding: 0;
    width: 0;
  }*/

  .mediablock img src {
    width: 45%;
    height: auto;
    max-width: 100%;
  }

  .slider img {
    width: 10rem;
  }

}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-wrapper {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  main {
    padding-top: 84.86px;
  }
}


@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}