/*
Colors used:
Heading Colour (Dark Green): #496d4f;
Text Colour (Black): #000000;
Sections Background (Light Green): #e4ecdf;
*/

* {
  box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Manrope", sans-serif;
    font-size: 1.2rem; 
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
}
  
h1, h2, h3, h4 {
    line-height: 1.4;
    color: #496d4f;
}

h1 {
    font-size: 2.0rem;
    font-weight: 700;
}
  
h2 {
    font-size: 1.8rem;
    font-weight: 700;
}
  
h3 {
    font-size: 1.6rem;
    font-weight: 400;
}


img {
    width: 100%; 
  }

  a {
    color: #ff7f50;
  }
  a:visited { /* visited link */
    color: #ff7f50;
  }
  a:hover 
  a:focus {
    color: #cc6540;
    text-decoration: none; 
  }
 
  a:active { /* selected link */
    color: #994c30;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ff7f50;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
    text-decoration: none;
  }


  .button:visited {
    color: #ffffff;
  } 


  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }

  .button.contact:visited {
    color: #ff7f50;
  }

  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }




  /* Layout styling */

  * {
    box-sizing: border-box;
  }

  header {
    background-color: #496d4f;
    border-bottom: 3px solid #4a4a4a;
    text-align: center;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2)  ; 
    position: fixed;
    width: 100%;
  }

  .container {
    padding: 0 15px;
  }

  .project-card {
    margin: 25px 0
  }

  .center {
    text-align: center;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 300;
    color:#ff7f50;
  }

  nav > ul > li > a:visited{
    color:#ff7f50;
  }

  nav > ul > li > a:hover{
    color:#cc6540;
  }

  nav > ul > li > a:active{
    color: #994c30;
  }

  #welcome {
    background-color: #e4ecdf;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

  main {
    padding-top: 133px;
  }

